.form-group
  = f.label :shipping_first_name, t('.labels.first_name'), class: 'control-label input-label'
  = f.input :shipping_first_name, id: 'firstName', required: true, autofocus: true, label: false, placeholder: t('.placeholders.first_name')
.form-group
  = f.label :shipping_last_name, t('.labels.last_name'), class: 'control-label input-label'
  = f.input :shipping_last_name, id: 'lastName', required: true, autofocus: true, label: false, placeholder: t('.placeholders.last_name')
.form-group
  = f.label :shipping_address, t('.labels.address'), class: 'control-label input-label'
  = f.input :shipping_address, id: 'address', required: true, autofocus: true, label: false, placeholder: t('.placeholders.address')
.form-group
  = f.label :shipping_city, t('.labels.city'), class: 'control-label input-label'
  = f.input :shipping_city, id: 'city', required: true, autofocus: true, label: false, placeholder: t('.placeholders.city')
.form-group
  = f.label :shipping_zip, t('.labels.zip'), class: 'control-label input-label'
  = f.input :shipping_zip, id: 'zip', required: true, autofocus: true, label: false, placeholder: t('.placeholders.zip')
.form-group
  = f.label :shipping_country, t('.labels.country'), class: 'control-label input-label'
  = f.input :shipping_country, id: 'country', required: true, autofocus: true, label: false, placeholder: t('.placeholders.country')
.form-group
  = f.label :shipping_phone, t('.labels.phone'), class: 'control-label input-label'
  = f.input :shipping_phone, id: 'phone', required: true, autofocus: true, label: false, placeholder: t('.placeholders.phone')

