%main.container.general-main-wrap
  .text-center
    = render 'users/shared/form_text'
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.mb-30
      = f.input :email, required: false, autofocus: true, placeholder: t('simple_form.labels.user.new.email'), id: 'email'
    .form-group.mb-30
      = f.input :password, required: false, placeholder: t('simple_form.labels.defaults.password'), id: 'password'
      = link_to t('authentication.forgot_password?'), new_password_path(resource_name), class: 'help-block in-gold-500 general-form'
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        %input.checkbox-input{type: "checkbox", hidden: "true", name: "remember_me"}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text= t('.remember_me')
    .text-center
      = f.button :submit, t('simple_form.helpers.submit.user.login'), class: 'mb-20'
  %p.general-sign-text.text-center
    = t('authentication.dont_have_an_account?')
    = link_to t('authentication.signup'), new_registration_path(resource_name), class: 'in-gold-500'
