= simple_form_for(current_user, url: update_password_user_url(current_user), html: { method: :patch }, wrapper: :password_form) do |f|
  .form-group.mb-30
    = f.label :current_password, t('.old_password'), class: 'control-label input-label'
    = f.input :current_password, id: 'oldPassword', label: false, placeholder: t('simple_form.placeholders.defaults.old_password')
  .form-group.mb-30
    = f.label :password, t('.new_password'), class: 'control-label input-label'
    = f.input :password, id: 'password', label: false, placeholder: t('simple_form.placeholders.defaults.new_password')
  .form-group.mb-40
    = f.label :password_confirmation, t('.confirm_password'), class: 'control-label input-label'
    = f.input :password_confirmation, id: 'confirmPassword', label: false, placeholder: t('simple_form.placeholders.defaults.confirm_password')
  .general-text-align
    = f.button :button, t('save')
