- present @book do |presenter|
  = link_to(:back, class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    = t('.back')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = presenter.cover_image(class: 'img-responsive')
        .images.clearfix
          - presenter.thumbnails.collect do |image|
            = presenter.linked_image(image, class: 'img-link')
    .col-sm-6
      %h1.mt-res-0= presenter.name
      %p.lead.small= presenter.authors
      .row
        .col-md-12
          = render 'order_items/form', order_item: @order_item, presenter: presenter
      .general-info-wrap.divider-lg
        %p= t('.description')
        %p.lead.small.line-height-2= presenter.description
        = presenter.read_more_link
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.year_of_publication')
          %p.lead.small.pull-right= presenter.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.dimensions')
          %p.lead.small.pull-right= presenter.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.materials')
          %p.lead.small.pull-right= presenter.materials
  .mb-80
    = presenter.reviews

