!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8; width=device-width", "http-equiv" => "Content-Type", name: "viewport"}/
    %title Bookstore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Open+Sans', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .wrapper
      = render 'shared/header.html.haml'
      = render 'shared/notifications.html.haml'
      = yield
    = render 'shared/footer.html.haml'
    -# #fb-root
    -#   :javascript
    -#     (function(d, s, id) {
    -#     var js, fjs = d.getElementsByTagName(s)[0];
    -#     if (d.getElementById(id)) return;
    -#     js = d.createElement(s); js.id = id;
    -#     js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12&appId=1493756687389092&autoLogAppEvents=1';
    -#     fjs.parentNode.insertBefore(js, fjs);
    -#     }(document, 'script', 'facebook-jssdk'));
    -#   .fb-login-button{ 'max-rows' => "1", 'size' => "large", 'button-type' => "continue_with", 'show-faces' => "true", 'auto-logout-link' => "true", 'use-continue-as' =>"true" }